[submodule "tools/bs_call"]
	path = tools/bs_call
	url = https://github.com/heathsc/bs_call.git
[submodule "tools/gem3-mapper"]
	path = tools/gem3-mapper
	url = https://github.com/smarco/gem3-mapper.git
	branch = gembs
